
<h1>Listing Issue</h1>
<div class="vertical-menu">
  <a href="about/index" class="active">Home</a>
  <a href="/characters">Characters</a>
  <a href="/issues">Issues</a>
  <a href="/volumes">Volumes</a>
</div>

<%= form_tag issues_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Issue Name</th>
  </tr>

  <% @issues.each do |i| %>
    <tr>
      <td><%= link_to i.name, i %></td>
    </tr>
  <% end %>
</table>
<%= paginate @issues %>

