<div class="vertical-menu">
  <a href="about/index" class="active">Home</a>
  <a href="/characters">Characters</a>
  <a href="/issues">Issues</a>
  <a href="/volumes">Volumes</a>
</div>
<h1><%= @issue.name  %></h1>
<img src = <%= @issue.image%> alt="issue image">
<% if @issue.has_staff_review%>
<p>This Issue has been reviewed by Staff at Comic Vine</p>
<% else%>
<p>This Issue hasn't been reviewed by Staff at Comic Vine (why?)</p>
<%end%>
<p>Brief Summary: <%= @issue.description %></p>
<p>Cover Date: <%= @issue.cover_date%></p>
<p>Links to all Characters in the Issue <a href= "/characters/<%=@issue.id%>"><%= @issue.name%></a></p>
