<h1>Advanced Search</h1>

<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_field :keyword %>
  </div>
  <div class="field">
    <%= f.label :issue_id %><br />
    <%= f.collection_select :issue_id, Issue.order(:name), :id, :name, include_blank: true %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>